{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
    <p data-not-valid-after="2024-04-27T18:00:00-0400">
        <strong>Truss up a rope bunny</strong> at <a href="https://VioletRollergirl.com/">Violet Rollergirl</a> and Mylo Ryn&rsquo;s <a href="https://www.google.com/calendar/event?eid=NnNyamdwajQ2a3FtNmI5bjZ0aTZjYjlrNzRxbWFiOXBjZ3JtYWJiNjYxaW0yZTFsNjlpbWNvaGs3MCAyb204czloc2Q3a2tramNjODhrb242NWkyb0Bn&ctz=America/New_York">Floorwork Rope Bondage Workshop 🪢🐇</a> on Saturday, April 27<sup>th</sup>! (<a href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=NnNyamdwajQ2a3FtNmI5bjZ0aTZjYjlrNzRxbWFiOXBjZ3JtYWJiNjYxaW0yZTFsNjlpbWNvaGs3MCAyb204czloc2Q3a2tramNjODhrb242NWkyb0Bn&tmsrc=2om8s9hsd7kkkjcc88kon65i2o@group.calendar.google.com&catt=false&pprop=HowCreated:DUPLICATE&hl=en&scp=ONE">Add to your Google Calendar</a>)
    </p>
</div>
