{% comment %}
This file contains a simplistic "Featured Events" list,
comprised of a conventional HTML structure that lists
little event promos for specific or otherwise special
event listings.

They get automatically hidden after the `not-valid-after`
time defined in their containing element.
{% endcomment -%}
<div id="featured-events">
    <p data-not-valid-after="2024-06-02T23:00:00-0400">
        <strong>Learn what to do with money when we finally have some</strong> at <a href="https://forbiddentickets.com/events/kat-scratch-studios/00e2dfbcc3">Sex Work Survival Guide's 2024 Conference</a> on Sunday, June 2<sup>nd</sup>!
        <a href="https://forbiddentickets.com/events/kat-scratch-studios/00e2dfbcc3"><img src="https://forbiddentickets.com/media/pages/events/kat-scratch-studios/00e2dfbcc3/e95993a551-1713935899/age-requirements-800x600.jpg" alt="" /></a>
    </p>
</div>
